<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tenant Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Stylesheets -->
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'vendor/bootstrap/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'vendor/prism/prism.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'vendor/phosphor-icons/css/icons.css' %}"
    />
    <link rel="stylesheet" href="{% static 'vendor/slick/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/aos/aos.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'vendor/magnific-popup/magnific-popup.css' %}"
    />
    <link
      rel="shortcut icon"
      href="{% static 'images/newlogo.png' %}"
      type="image/x-icon"
    />

    <!-- Fonts and Tailwind CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <!-- Custom Scripts -->
    <script defer src="{% static 'js/navigation.js' %}"></script>
    <script defer src="{% static 'js/footer.js' %}"></script>
    <script defer src="{% static 'js/password_input.js' %}"></script>
    <style>
      .icon_position {
        left: 0.5rem;
        top: 0.4rem;
      }
      .password_eye {
        position: absolute;
        right: 0.6rem;
        top: 0.5rem;
        cursor: pointer;
      }
      .hyperlink {
        padding-left: 0.3rem;
      }
    </style>
  </head>
  <body class="font-custom">
    <div class="my-8 px-4 w-full h-screen box-border flex">
      <img
        src="{% static 'images/login.jpeg' %}"
        alt="login"
        class="w-[40%] object-cover rounded-lg"
      />
      <div class="w-[60%] items-center">
        <div class="flex flex-col pl-12 pt-12 w-full">
          <div class="text-alternateBlue text-3xl mb-32">Tenant</div>
          <div class="pl-24 max-w-[600px]">
            <div class="text-lg pb-4">Email Address</div>
            <div class="relative flex">
              <svg
                class="absolute icon_position"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17 20.5H7C4 20.5 2 19 2 15.5V8.5C2 5 4 3.5 7 3.5H17C20 3.5 22 5 22 8.5V15.5C22 19 20 20.5 17 20.5Z"
                  stroke="#6D6D6D"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M17 9L13.87 11.5C12.84 12.32 11.15 12.32 10.12 11.5L7 9"
                  stroke="#6D6D6D"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <input
                class="px-10 pb-1 text-md border-2 border-layer w-full h-10 mb-2 box-border rounded-lg bg-none focus:outline-2 focus:outline-bttns"
                type="email"
              />
            </div>
            <div class="text-lg pb-4 pt-4">Password</div>
            <div class="relative flex pass_container">
              <svg
                class="absolute icon_position"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6 10V8C6 4.69 7 2 12 2C17 2 18 4.69 18 8V10"
                  stroke="#6D6D6D"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M17 22H7C3 22 2 21 2 17V15C2 11 3 10 7 10H17C21 10 22 11 22 15V17C22 21 21 22 17 22Z"
                  stroke="#6D6D6D"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M15.9965 16H16.0054"
                  stroke="#6D6D6D"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M11.9955 16H12.0045"
                  stroke="#6D6D6D"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M7.99451 16H8.00349"
                  stroke="#6D6D6D"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <input
                class="px-10 pb-1 text-md border-2 border-layer w-full h-10 mb-2 box-border rounded-lg bg-none focus:outline-2 focus:outline-bttns password_input"
                type="password"
              />
            </div>
            <div id="extras" class="text-lg flex justify-between">
              <div class="flex justify-between">
                <input
                  id="remember"
                  class="w-4 h-4 cursor-pointer mr-2 mt-1"
                  type="checkbox"
                />
                <div>Remember Me</div>
              </div>
              <div id="landlord" class="text-alternateBlue cursor-pointer">
                I'm a Landlord
              </div>
            </div>
            <div id="login_types" class="flex flex-col items-center gap-3 pt-3">
              <button
                id="login"
                class="bg-black text-white border-none p-2 min-w-64 text-lg rounded-lg cursor-pointer box-border hover:bg-bttns text-layer transition-colors duration-400"
              >
                Log In
              </button>
              <div
                class="border-2 border-layer text-center transition-colors hover:bg-bttns hover:text-white duration-400 p-2 min-w-64 text-lg rounded-lg cursor-pointer box-border flex items-center justify-center gap-2"
                id="google_container"
              >
                <svg
                  id="google_icon"
                  class="pt-0.5"
                  width="25"
                  height="25"
                  viewBox="0 0 25 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M22.7137 10.4596H21.8747V10.4163H12.4997V14.583H18.3867C17.5278 17.0085 15.22 18.7497 12.4997 18.7497C9.04811 18.7497 6.24967 15.9512 6.24967 12.4997C6.24967 9.04811 9.04811 6.24967 12.4997 6.24967C14.0929 6.24967 15.5424 6.85072 16.646 7.83249L19.5924 4.88613C17.732 3.15228 15.2434 2.08301 12.4997 2.08301C6.74707 2.08301 2.08301 6.74707 2.08301 12.4997C2.08301 18.2523 6.74707 22.9163 12.4997 22.9163C18.2523 22.9163 22.9163 18.2523 22.9163 12.4997C22.9163 11.8012 22.8445 11.1195 22.7137 10.4596Z"
                    fill="#FFC107"
                  />
                  <path
                    d="M3.28418 7.65124L6.70658 10.1611C7.63262 7.86842 9.87533 6.24967 12.4998 6.24967C14.093 6.24967 15.5425 6.85072 16.6462 7.83249L19.5925 4.88613C17.7321 3.15228 15.2436 2.08301 12.4998 2.08301C8.49876 2.08301 5.02897 4.34186 3.28418 7.65124Z"
                    fill="#FF3D00"
                  />
                  <path
                    d="M12.5 22.9165C15.1906 22.9165 17.6354 21.8868 19.4839 20.2124L16.2599 17.4842C15.1789 18.3063 13.8581 18.7509 12.5 18.7499C9.79062 18.7499 7.4901 17.0223 6.62344 14.6113L3.22656 17.2285C4.95052 20.602 8.45156 22.9165 12.5 22.9165Z"
                    fill="#4CAF50"
                  />
                  <path
                    d="M22.7141 10.4602H21.875V10.417H12.5V14.5837H18.387C17.9762 15.738 17.2361 16.7468 16.2583 17.4852L16.2599 17.4842L19.4839 20.2123C19.2557 20.4196 22.9167 17.7087 22.9167 12.5003C22.9167 11.8019 22.8448 11.1201 22.7141 10.4602Z"
                    fill="#1976D2"
                  />
                </svg>
                <div>Log In with Google</div>
              </div>

              <div id="sign_up" class="flex">
                Get started with
                <div
                  id="sign_up_link"
                  class="text-alternateBlue font-semibold cursor-pointer hyperlink"
                >
                  GrotN
                </div>
                !
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mark up for Script Section-->
    <script src="{% static 'vendor/jQuery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/prism/prism.js' %}"></script>
    <script src="{% static 'vendor/isotope/isotope.min.js' %}"></script>
    <script src="{% static 'vendor/slick/slick.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor//counter-up/countup.js' %}"></script>
    <script src="{% static 'vendor/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/scrollit/scrollit.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
