<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tenant Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Stylesheets -->
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'vendor/bootstrap/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'vendor/prism/prism.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'vendor/phosphor-icons/css/icons.css' %}"
    />
    <link rel="stylesheet" href="{% static 'vendor/slick/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/aos/aos.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'vendor/magnific-popup/magnific-popup.css' %}"
    />
    <link
      rel="shortcut icon"
      href="{% static 'images/newlogo.png' %}"
      type="image/x-icon"
    />

    <!-- Fonts and Tailwind CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <!-- Custom Scripts -->
    <script defer src="{% static 'js/navigation.js' %}"></script>
    <script defer src="{% static 'js/footer.js' %}"></script>
  </head>
  <body class="font-custom">
    <!-- Mark up for Script Section-->
    <script src="{% static 'vendor/jQuery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/prism/prism.js' %}"></script>
    <script src="{% static 'vendor/isotope/isotope.min.js' %}"></script>
    <script src="{% static 'vendor/slick/slick.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor//counter-up/countup.js' %}"></script>
    <script src="{% static 'vendor/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/scrollit/scrollit.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
