<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Tenant Profile</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Stylesheets -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/prism/prism.css' %}"/>
    
    <link rel="stylesheet" href="{% static 'vendor/phosphor-icons/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>


    <!-- Favicon -->
    <link rel="shortcut icon" href="https://www.grotn.com/assets/images/logo.png" type="image/x-icon" />
    <link rel="icon" href="https://www.grotn.com/assets/images/logo.png" type="image/x-icon" />
</head>
<body>
     <!-- 
  #############
  Navigation Menu
  #############
  -->
  {% include 'tenant/_header.html' with name1="Home" url1="tenant:matches" name2="Housing" url2="tenant:housing" %}

  <!-- 
  #############
  Profile Form Section
  #############
-->
<section class="contact" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
  <div class="container">
    <div class="row">
      <div class="">
        <div class="contact-title text-center">
          <h1>Fill out Profile</h1>
          <p>Set your preferences and get more reliable matches 
            for your roommates or housing.</p>
        </div>
      </div>
    </div>

    <form class="contact-form-items"
          method="POST"
          action="{% url 'tenant:profile' %}">
        {% csrf_token %}
      <h4>Housing Preferences</h4>
      <div class="input-group">
        <span class="input-group-text" >
          <i class="ph-money"></i>
        </span>
        <input min="0" max="99999" type="number" class="form-control" placeholder="Monthly Budget (€)" name="budget">
      </div>
      <div class="input-group">
        <span class="input-group-text" >
          <i class="ph-house"></i>
        </span>
        <input type="text" class="form-control" placeholder="City">
      </div>
      <div class="input-group">
        <span class="input-group-text" >
          <i class="ph-house"></i>
        </span>
        <input type="text" class="form-control" placeholder="District">
      </div>
      <div class="input-group">
        <span class="input-group-text" >
          <i class="ph-users"></i>
        </span>
        <select class="form-control" name="roommate">
          <option selected disabled>Open to Roommates</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>

      <h4>Contact Details</h4>
      <div class="input-group">
        <span class="input-group-text" >
          <i class="ph-user"></i>
        </span>
        <input type="text" class="form-control" placeholder="Full Name">
      </div>
      <div class="input-group">
        <span class="input-group-text" >
          <i class="ph-envelope-simple-open"></i>
        </span>
        <input type="email" class="form-control" placeholder="Email Address" >
      </div>
      <div class="input-group">
        <span class="input-group-text" >
          <i class="ph-phone"></i>
        </span>
        <input type="text" class="form-control" placeholder="Phone Number">
      </div>

      <h4>About You</h4>
      <div>
        <p style="margin-bottom: 0 !important; font-size: 0.8rem;">
          Separate by commas. Ex: playing chess, going to the beach, etc.
        </p>
        <div class="input-group">
          <span class="input-group-text">
            <i class="ph-pen"></i>
          </span>
          <input type="text" class="form-control p-2 flex-1" placeholder="Activities">
        </div>
      </div>
      <div>
        <p style="margin-bottom: 0 !important; font-size: 0.8rem;">
          Separate by commas. Ex: machine learning, history, etc.
        </p>
        <div class="input-group">
          <span class="input-group-text">
            <i class="ph-pen"></i>
          </span>
          <input type="text" class="form-control p-2 flex-1" placeholder="Interests">
        </div>
      </div>
      <div>
        <p style="margin-bottom: 0 !important; font-size: 0.8rem;">
          Separate by commas. Ex: sleeping early, being quite, etc.
        </p>
        <div class="input-group">
          <span class="input-group-text">
            <i class="ph-pen"></i>
          </span>
          <input type="text" class="form-control p-2 flex-1" placeholder="Preferences">
        </div>
      </div>
      <div class="input-group">
        <textarea class="form-control" placeholder="More about you.. (optional)" rows="15" cols="20"></textarea>
      </div>
      <div class="w-100 contact-form-button content-center">
        <button type="submit" class="btn btn-large">Save</button>
      </div>
    </form>
  </div>
</section>
  
  <!-- 
    #############
    Footer Navigation Section
    #############
  -->
  {% include 'tenant/_footer.html' %}
  
  <!-- Mark up for Script Section-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9rV6yesIygoVKTD6QLf_iCa9eiIIHqZ0&libraries=geometry"></script>
  <script src="{% static 'vendor/jQuery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/prism/prism.js' %}"></script>
  <script src="{% static 'vendor/isotope/isotope.min.js' %}"></script>
  <script src="{% static 'vendor/slick/slick.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor//counter-up/countup.js' %}"></script>
  <script src="{% static 'vendor/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/scrollit/scrollit.min.js' %}"></script>
  <script src="{% static 'vendor/magnific-popup/magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>