<section class="feature">
    <div class="container">
      <div class="row align-items-center feature-top" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
        <div class="col-lg-6 order-lg-1 order-2">
          <div class="feature-content">
            <h3>
              Simple & easy way to find your dream Apartment
            </h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed.
            </p>
            <a href="#contact.html" class="btn btn-small">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-lg-2 order-1">
          <div class="row">
            <div class="col-6 ">
              <div class="feature-grid-image">
                <img src="images/feature/feature1.png" alt="feature1">
                <img src="images/feature/feature2.png" alt="feature2">
              </div>
            </div>
            <div class="col-6">
              <div class="feature-grid-image">
                <img src="images/feature/feature3.png" alt="feature3">
                <img src="images/feature/feature4.png" alt="feature4">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center feature-bottom" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="200">
        <div class="col-md-6 order-xl-1 order-md-2">
          <div class="feature-content-thumb">
            <img src="images/feature/feature5.png" alt="feature">
          </div>
        </div>
        <div class="col-md-6 col-lg-5 me-lg-auto ms-xl-auto order-xl-2 order-md-1">
          <div class="feature-content">
            <h3>
              Secure payment system
            </h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. In a free hour, when our power of choice is untrammelled.
            </p>
            <ul class="">
              <li>
                <span class="bold">Find excellent deals</span>
              </li>
              <li>
                <span class="bold">Friendly host & Fast support</span>
              </li>
              <li>
                <span class="bold">
                  Secure payment system
                </span>
              </li>
            </ul>
            <a href="about.html" class="btn btn-small">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>