<section class="feature" id="feature"
style="padding-bottom: 0.5rem;">
    <div class="container">
      <div class="row align-items-center feature-top" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
        <div class="col-lg-6 order-lg-1 order-2">
          <div class="feature-content">
            <h3>
              AI-driven housing matching algorithm
            </h3>
            <p>
              Our AI-driven roommate matching algorithm ensures that tenants are matched the most suitably. Later, AI's best-picked houses and tenants are matched, targeting long-term satisfaction. 
            </p>
            <a href="#createAccount" data-bs-toggle="modal" class="btn btn-small">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-lg-2 order-1">
          <div class="row">
            <div class="col-6 ">
              <div class="feature-grid-image">
                {% load static %}
                <img src="https://www.thoughtco.com/thmb/pLBZcqy7tRkyi_IpTJBjjm-hMZw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/collegeroommates-58d14bd65f9b581d7243490e.jpg" alt="feature1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuZccuExR5ZXFkW9xR3Q_v7fNLrT44AfCEZg&s" alt="feature4">
              </div>
            </div>
            <div class="col-6">
              <div class="feature-grid-image">
                <img src="https://images.fosterwebmarketing.com/978/FAQ%20Tenant%20Landlord.jpg" alt="feature3">
                <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/184126701.jpg?k=e2b56093ae5c35530018b10e93ee5243d0568c51fa7233d0ec6f97376b3cc460&o=&hp=1" alt="feature2">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center feature-bottom" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="200">
        <div class="col-md-6 order-xl-1 order-md-2">
          <div class="feature-content-thumb">
            <img src="{% static 'images/secure-payment.jpg' %}" alt="feature">
          </div>
        </div>
        <div class="col-md-6 col-lg-5 me-lg-auto ms-xl-auto order-xl-2 order-md-1">
          <div class="feature-content">
            <h3>
              Secure payment system
            </h3>
            <p>
              The entire payment is kept within the platform, within trusted users. This ensures that the transaction is secure and that the payment is only released when the transaction is completed.
            </p>
            <ul class="">
              <li>
                <span class="bold">Low commission rates</span>
              </li>
              <li>
                <span class="bold">Full control with transaction</span>
              </li>
              <li>
                <span class="bold">
                  Secure payment system
                </span>
              </li>
            </ul>
            <a href="{% url 'index:about' %}" class="btn btn-small">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>