<section style="padding-bottom: 130px" class="hero hero-v2">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-10 mx-auto">
          <div class="hero-shape">
            {% load static %}
            <img src="{% static 'images/hero-bg-test-new.png' %}" alt="hero-bg">
            {% comment %}
            https://static.vecteezy.com/system/resources/previews/027/241/451/original/seamless-horizontal-pattern-with-vintage-houses-buying-a-house-housewarming-drawing-on-transparent-background-png.png
            {% endcomment %}
          </div>
          <div class="hero-content text-center" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
             <h1 class="hero-content-title">
              Your Dream Mate, 
              Your Dream Rental.
             </h1>
             <p class="hero-content-description">
              Find your perfect living space hassle-free with GrotN! Enjoy secure housing wherever you desire, without the stress of overbidding or uncertainty. 🏡
             </p>
          </div>
          <div class="hero-form" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
            <nav>
              <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-buy-tab" data-bs-toggle="tab" data-bs-target="#nav-buy" type="button" role="tab" aria-controls="nav-buy" aria-selected="true">Tenant</button>
                <button class="nav-link" id="nav-rent-tab" data-bs-toggle="tab" data-bs-target="#nav-rent" type="button" role="tab" aria-controls="nav-rent" aria-selected="false">Landlord</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">

              <!-- Tenant -->
              <div class="tab-pane fade show active" id="nav-buy" role="tabpanel" aria-labelledby="nav-buy-tab">
                <form class="row align-items-center gutter-2">
                  <div class="col-md-3 col-6">
                    <label class="form-label">City/Street</label>
                    <div class="dropholder">
                      <div class="customdropdown d-flex justify-content-between align-items-center">
                        <p>Amsterdam</p>
                        <i class="ph-map-pin-bold"></i>
                      </div>
                      <ul class="dropdownMenu">
                        <li>Amsterdam</li>
                        <li>Rotterdam</li>
                        <li>The Hague</li>
                        <li>Eindhoven</li>
                        <li>Utrecht</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3 col-6">
                    <label class="form-label">Housing Preference</label>
                    <div class="dropholder">
                      <div class="customdropdown d-flex justify-content-between align-items-center">
                        <p>With Roommate</p>
                        <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M8.33333 9L4.16667 14L0 9" fill="#417086"/>
                          <path d="M0.000163078 5L4.16683 -3.64256e-07L8.3335 5" fill="#417086"/>
                        </svg>                        
                      </div>
                      <ul class="dropdownMenu">
                        <li>With Roommate</li>
                        <li>Solo Room</li>
                        <li>Apartment</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-8">
                    <label class="form-label">Monthly Budget</label>
                    <div class="dropholder">
                      <div class="customdropdown d-flex justify-content-between align-items-center">
                        <p>€250 - €750</p>
                        <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M8.33333 9L4.16667 14L0 9" fill="#417086"/>
                          <path d="M0.000163078 5L4.16683 -3.64256e-07L8.3335 5" fill="#417086"/>
                        </svg>                        
                      </div>
                      <ul class="dropdownMenu">
                        <li>€250 - €750</li>
                        <li>€750 - €1500</li>
                        <li>€1500 - €3000</li>
                      </ul>
                    </div>
                  </div>
      
                  <div class="col-md-2 col-sm-6 text-md-end">
                    <a role="button" data-bs-toggle="modal" href="#createAccount" class="btn btn-large submit-button d-flex align-items-center w-100 justify-content-center" type="submit">
                      <i class="ph-arrow-right-bold"></i>
                      <span class="d-md-none d-inline-block">Start</span>
                    </a>
                  </div>
                </form>
              </div>


              <!-- Landlord -->
              <div class="tab-pane fade" id="nav-rent" role="tabpanel" aria-labelledby="nav-rent-tab">
                <form class="row align-items-center gutter-2">
                  <div class="col-md-3 col-6">
                    <label class="form-label">City/Street</label>
                    <div class="dropholder">
                      <div class="customdropdown d-flex justify-content-between align-items-center">
                        <p>Amsterdam</p>
                        <i class="ph-map-pin-bold"></i>
                      </div>
                      <ul class="dropdownMenu">
                        <li>Amsterdam</li>
                        <li>Rotterdam</li>
                        <li>The Hague</li>
                        <li>Eindhoven</li>
                        <li>Utrecht</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-3 col-6">
                    <label class="form-label">Housing Type</label>
                    <div class="dropholder">
                      <div class="customdropdown d-flex justify-content-between align-items-center">
                        <p>Single Studio</p>
                        <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M8.33333 9L4.16667 14L0 9" fill="#417086"/>
                          <path d="M0.000163078 5L4.16683 -3.64256e-07L8.3335 5" fill="#417086"/>
                        </svg>                        
                      </div>
                      <ul class="dropdownMenu">
                        <li>Single Studio</li>
                        <li>Apartment</li>
                        <li>Dublex House</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-8">
                    <label class="form-label">Goal Rental Income</label>
                    <div class="dropholder">
                      <div class="customdropdown d-flex justify-content-between align-items-center">
                        <p>€500 - €1000</p>
                        <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M8.33333 9L4.16667 14L0 9" fill="#417086"/>
                          <path d="M0.000163078 5L4.16683 -3.64256e-07L8.3335 5" fill="#417086"/>
                        </svg>                        
                      </div>
                      <ul class="dropdownMenu">
                        <li>€500 - €1000</li>
                        <li>€1000 - €5000</li>
                        <li>€5000 - €30000</li>
                      </ul>
                    </div>
                  </div>
      
                  <div class="col-md-2 col-sm-6 text-md-end">
                    <a role="button" data-bs-toggle="modal" href="#createLandlordAccount" class="btn btn-large submit-button d-flex align-items-center w-100 justify-content-center" type="submit">
                      <i class="ph-arrow-right-bold"></i>
                      <span class="d-md-none d-inline-block ms-1">Start</span>
                    </a>
                  </div>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>