<section class="service" 
style="border: 0; padding: 0; margin-bottom: 6.25rem;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="service-title">
            <h3>Simple & easy way to find your dream apartment</h3>
            <p>Your steps to finding our well-picked perfect house and housemate for you.</p>
          </div>
        </div>
      </div> 
      <div class="row service-top" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
        <div class="col-lg-9 col-sm-12">
          <div class="row">
            <div class="col-lg-5 col-sm-6">
              <div class="service-card">
                {% load static %}
                <img src="{% static 'images/undraw_mail_sent_re_0ofv.svg' %}" alt="service1" class="service-card--thumb" height="200">
                <div class="service-card--content">
                  <h4>1. Set up your profile</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-sm-6">
              <div class="service-card">
                <img src="{% static 'images/undraw_team_spirit_re_yl1v.svg' %}" alt="service2" class="service-card--thumb" height="200">
                <div class="service-card--content">
                  <h4>2. Get matched with roommates</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row service-bottom" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="200">
        <div class="col-lg-9 offset-lg-3 col-sm-12">
          <div class="row">
            <div class="col-lg-5 col-sm-6">
              <div class="service-card">
                <img src="{% static 'images/undraw_house_searching_re_stk8.svg' %}" alt="service3" class="service-card--thumb" height="200">
                <div class="service-card--content">
                  <h4>3. Select a suitable house</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-sm-6">
              <div class="service-card">
                <img src="{% static 'images/undraw_love_it_xkc2.svg' %}" alt="service4" class="service-card--thumb" height="200">
                <div class="service-card--content">
                  <h4>4. Enjoy your dream rental</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
