<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Index Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Stylesheets -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/prism/prism.css' %}"/>
    
    <link rel="stylesheet" href="{% static 'vendor/phosphor-icons/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>


    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/newlogo.png' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'images/newlogo.png' %}" type="image/x-icon" />

</head>
<body>
    <!-- 
  #############
  Navigation Menu
  #############
  -->
  {% include 'index/_header.html' with page='index' %}

  <!-- 
    #############
    Hero V2 Section
    #############
  -->
  {% include 'index/_hero.html' %}
  
  <!--
    ###########
    Counter Section
    ###########
  -->
  {% include 'index/_counter.html' %}
    
  <!-- 
    #############
    Services Section
    #############
  -->
  {% include 'index/_services.html' %}  
  
  <!-- 
    #############
    Feature Section
    #############
  -->
  {% include 'index/_feature.html' %}
  
    <!-- 
    #############
    Properties Section
    #############
  -->
  {% include 'index/_properties.html' %}


  {% comment %}
  <!-- 
    #############
    Testimonial V2 Section
    #############
  -->
  {% include 'index/_testimonial.html' %} 
  
  <!-- 
    #############
    Blog Home Section
    #############
  -->
  {% include 'index/_blog_home.html' %} 
  {% endcomment %}



  <!-- 
    #############
    Footer Navigation Section
    #############
  -->
  {% include 'index/_footer.html' %}
  
  <!-- 
    #############
    Login Modals Section
    #############
  -->
  {% include 'index/_login_modal.html' %}



  <!-- Removing GET Parameters in URL -->
  <!-- UNDONE -->
  <script>
    function removeParamFromURL(url, param) {
        const [path, searchParams] = url.split('?');
        const newSearchParams = searchParams
            ?.split('&')
            .filter((p) => !(p === param || p.startsWith(`${param}=`)))
            .join('&');
        return newSearchParams ? `${path}?${newSearchParams}` : path;
    }
    if (window.location.href.includes('?')) {
        // window.location.replace(removeParamFromURL(window.location.href, 'force'));
    }
  </script>

  <!-- Mark up for Script Section-->
  <script src="{% static 'vendor/jQuery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/prism/prism.js' %}"></script>
  <script src="{% static 'vendor/isotope/isotope.min.js' %}"></script>
  <script src="{% static 'vendor/slick/slick.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor//counter-up/countup.js' %}"></script>
  <script src="{% static 'vendor/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/scrollit/scrollit.min.js' %}"></script>
  <script src="{% static 'vendor/magnific-popup/magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>