<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8" />
    <title>GrotN - About</title>
  
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  
    <!-- Stylesheets -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/prism/prism.css' %}"/>
    
    <link rel="stylesheet" href="{% static 'vendor/phosphor-icons/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
  
  
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://www.grotn.com/assets/images/logo.png" type="image/x-icon" />
    <link rel="icon" href="https://www.grotn.com/assets/images/logo.png" type="image/x-icon" />
</head>

<body>


<!-- 
  #############
  Navigation Menu
  #############
-->
{% include 'index/_header.html' with page='about' %}

<!-- 
  #############
  About Section
  #############
-->
<section class="about" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-7 mx-auto">
        <div class="about-content text-center">
          <h1>Reimagining Dutch housing to solve the housing crisis.</h1>
          <p>With the increasing magnitude of housing crisis in Dutch and global market, we aim to help tenants, landlords, and governments tackle this significant challenge.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="about-thumbs">
          <div class="about-thumbs-item grid-col-span-2 order-1 order-sm-1">
            {% load static %}
            <img src="https://www.thoughtco.com/thmb/pLBZcqy7tRkyi_IpTJBjjm-hMZw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/collegeroommates-58d14bd65f9b581d7243490e.jpg" alt="about">
          </div>
          <div class="about-thumbs-item order-3 order-sm-2">
            <img src="{% static 'images/product1.jpg' %}" alt="about">
          </div>
          <div class="about-thumbs-item order-4 order-sm-3">
            <img src="{% static 'images/product2.jpg' %}" alt="about">
          </div>
          <div class="about-thumbs-item grid-col-span-2 oreder-2 order-sm-4">
            <img src="{% static 'images/happyTeam.jpeg' %}" alt="about">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
  ###########
  counter Section
  ###########
-->
{% include 'index/_counter.html' %}

<!-- 
  #############
  Company Page Section
  #############
-->
<section class="company" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-2 order-md-1">
        <div class="company-history" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="50">
          <div class="company-history--header">
            <h3>A note from our <br> founders.</h3>
            <p>Here is a brief history of our goals, work, and aspirations.</p>
          </div>
          <ol class="company-history--list">
            <li>
              <div class="company-history--details">
                <h6> We started in February, 2024</h6>
                <p>We started this mission based on our own sufferings
                  and observations of the Dutch housing market.</p>
              </div>
            </li>
            <li>
              <div class="company-history--details">
                <h6> We were funded in April, 2024</h6>
                <p>After winning Nisbet Venture Fund pitch competition and being 
                  awarded $2,500, we are accelarating our development process.
                </p>
              </div>
            </li>
            <li>
              <div class="company-history--details">
                <h6> GrotN is launching in June, 2024</h6>
                <p>With our launch, we are starting to embark on our mission 
                  with more than 280 of our early users accompanying us. 
                </p>
              </div>
            </li>
          </ol>
        </div>
      </div>
      <div class="col-lg-5 col-md-6  order-1 order-md-2">
        <div class="company-history--thumb" data-aos="fade-up" data-aos-once="true" data-aos-duration="1500" data-aos-delay="200">
          <img src="{% static 'images/oldhappyTeam.jpeg' %}" alt="company-details1">
        </div>
      </div>
    </div>
    <div class="row align-items-center" >
      <div class="col-md-6 order-lg-1 order-md-2">
        <div class="company-vision--thumb" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="400">
          <img src="https://t4.ftcdn.net/jpg/03/56/47/81/360_F_356478169_Fg9dD3Sm0EDcEtU5rp6QIwVhiKNIeB2k.jpg" alt="company-details2">
        </div>
      </div>
      <div class="col-md-6 col-lg-5 ms-lg-auto  order-lg-2 order-md-1" data-aos="fade-up" data-aos-once="true" data-aos-duration="1500" data-aos-delay="200">
        <div class="company-vision--content">
          <h3>
            Our vision is simple.
          </h3>
          <p>
            Carefully matching tenants with each other aiming to increase the rate of tenants per apartment.
            While doing so, we are taking in the housing options of landlords who have been suffering from
            real estate agents or independent sales. Thus, these unseen houses in the market are matched with
            suitable tenants with high efficiency.
             <br><br>
            This efficiency provided by our algorithm is what will mitigate the housing crisis.
          </p>
          <div class="company-vision--content--author">
            <h6>Alp Niksarli</h6>
            <p>CTO at GrotN</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
  #############
  Team Section
  #############
-->
<section class="team" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-10 mx-auto">
        <div class="team-title text-center">
          <h3>GrotN Team</h3>
        </div>
      </div>
    </div>
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-2 g-md-4 g-3">
      <div class="team-member" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000">
        <div class="team-member--thumb">
          {% load static %}
          <img src="{% static 'images/alpniksarli.jpeg' %}" alt="team" height="325">
        </div>
        <div class="team-member--content">
          <h6>Alp Niksarli</h6>
          <p>Co-founder & CTO</p>
        </div>
      </div>

      <div class="team-member" data-aos="fade-up" data-aos-once="true" data-aos-duration="1200" >
        <div class="team-member--thumb">
          <img src="{% static 'images/caganoflazoglu.jpeg' %}" alt="team" height="325">
        </div>
        <div class="team-member--content">
          <h6>Cagan Oflazoglu</h6>
          <p>Co-founder & CEO</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
  #############
  Footer Navigation Section
  #############
-->
{% include 'index/_footer.html' %}

<!-- 
  #############
  Login Modals Section
  #############
-->
{% include 'index/_login_modal.html' %}

<!--
  #############
  Footer Area
  #############
-->
<!-- Mark up for Script Section-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9rV6yesIygoVKTD6QLf_iCa9eiIIHqZ0&libraries=geometry"></script>
<script src="{% static 'vendor/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/prism/prism.js' %}"></script>
<script src="{% static 'vendor/isotope/isotope.min.js' %}"></script>
<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor//counter-up/countup.js' %}"></script>
<script src="{% static 'vendor/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'vendor/scrollit/scrollit.min.js' %}"></script>
<script src="{% static 'vendor/magnific-popup/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>