<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8" />
    <title>GrotN - Terms of Service</title>
  
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  
    <!-- Stylesheets -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/prism/prism.css' %}"/>
    
    <link rel="stylesheet" href="{% static 'vendor/phosphor-icons/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
  
  
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://www.grotn.com/assets/images/logo.png" type="image/x-icon" />
    <link rel="icon" href="https://www.grotn.com/assets/images/logo.png" type="image/x-icon" />
</head>

<body>


<!-- 
  #############
  Navigation Menu
  #############
-->
{% include 'index/_header.html' %}

<!-- 
  #############
  Privacy Page Section
  #############
-->
<section class="privacy">
  <div class="container">
    <div class="row">
      <div class="privacy-content">
        <h2>Terms of Service</h2>
        <p>Last updated: <span>June 2024 </span> </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad soluta incidunt, porro,
          at rerum accusamus laborum nisi ipsum, praesentium iure eum quo aut ut deserunt tempore. Dolore consequatur non reprehenderit?</p>
        <div class="privacy-rules">
          <h5>1. Lorem, ipsum dolor sit amet consectetur a</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad soluta incidunt, porro,
             at rerum accusamus laborum nisi ipsum, praesentium iure eum quo aut ut deserunt tempore. Dolore consequatur non reprehenderit?</p>
        </div>
        <div class="privacy-rules">
          <h5>2. Lorem, ipsum dolor sit amet consectetur a</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad soluta incidunt, porro,
             at rerum accusamus laborum nisi ipsum, praesentium iure eum quo aut ut deserunt tempore. Dolore consequatur non reprehenderit?</p>
        </div>
        <div class="privacy-rules">
          <h5>3. Lorem, ipsum dolor sit amet consectetur a</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad soluta incidunt, porro,
             at rerum accusamus laborum nisi ipsum, praesentium iure eum quo aut ut deserunt tempore. Dolore consequatur non reprehenderit?</p>
        </div>
        <div class="privacy-rules">
          <h5>4. Lorem, ipsum dolor sit amet consectetur a</h5>
          <ol>
            <li> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, dolores facere soluta quam corrupti ex expedita assumenda atque nam ratione ad, libero explicabo voluptas repudiandae illum suscipit facilis. Consequuntur, enim. </p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, dolores facere soluta quam corrupti ex expedita assumenda atque nam ratione ad, libero explicabo voluptas repudiandae illum suscipit facilis. Consequuntur, enim. </p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, dolores facere soluta quam corrupti ex expedita assumenda atque nam ratione ad, libero explicabo voluptas repudiandae illum suscipit facilis. Consequuntur, enim. </p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, dolores facere soluta quam corrupti ex expedita assumenda atque nam ratione ad, libero explicabo voluptas repudiandae illum suscipit facilis. Consequuntur, enim. </p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, dolores facere soluta quam corrupti ex expedita assumenda atque nam ratione ad, libero explicabo voluptas repudiandae illum suscipit facilis. Consequuntur, enim. </p>
            </li>
          </ol>
        </div>
        <div class="privacy-rules">
          <h5>5. Lorem, ipsum dolor sit amet consectetur a</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad soluta incidunt, porro,
             at rerum accusamus laborum nisi ipsum, praesentium iure eum quo aut ut deserunt tempore. Dolore consequatur non reprehenderit?</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
  #############
  Footer Navigation Section
  #############
-->
{% include 'index/_footer.html' %}

<!-- 
  #############
  Login Modals Section
  #############
-->
{% include 'index/_login_modal.html' %}

<!--
  #############
  Footer Area
  #############
-->
<!-- Mark up for Script Section-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9rV6yesIygoVKTD6QLf_iCa9eiIIHqZ0&libraries=geometry"></script>
<script src="{% static 'vendor/jQuery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/prism/prism.js' %}"></script>
<script src="{% static 'vendor/isotope/isotope.min.js' %}"></script>
<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor//counter-up/countup.js' %}"></script>
<script src="{% static 'vendor/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'vendor/scrollit/scrollit.min.js' %}"></script>
<script src="{% static 'vendor/magnific-popup/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>